/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [xeberler]    Script Date: 11/22/2017 9:42:59 PM ******/
CREATE DATABASE [xeberler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'xeberler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVERCODE\MSSQL\DATA\xeberler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'xeberler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVERCODE\MSSQL\DATA\xeberler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [xeberler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [xeberler]
GO
USE [xeberler]
GO
/****** Object:  Table [dbo].[Kateqoriya]    Script Date: 11/22/2017 9:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kateqoriya](
	[id] [int] NOT NULL,
	[kat_ad] [nvarchar](100) NULL,
 CONSTRAINT [PK_KATEQORIYA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/22/2017 9:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[user_password] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[user_level] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xeberler]    Script Date: 11/22/2017 9:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xeberler](
	[id] [int] NOT NULL,
	[xeber_basliq] [nvarchar](max) NULL,
	[xeber_qisa] [nvarchar](max) NULL,
	[xeber_tam] [nvarchar](max) NULL,
	[xeber_sekil] [nvarchar](255) NULL,
	[xeber_kat] [int] NULL,
 CONSTRAINT [PK_XEBERLER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Xeberler]  WITH CHECK ADD  CONSTRAINT [Xeberler_fk0] FOREIGN KEY([xeber_kat])
REFERENCES [dbo].[Kateqoriya] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Xeberler] CHECK CONSTRAINT [Xeberler_fk0]
GO
USE [master]
GO
